<a href="https://colab.research.google.com/github/brontominds/bounce.demo/blob/Ver0.01a/Bounce_assignment_monday_plus_hour_MAE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.utils import shuffle

In [0]:
data=pd.read_csv("train.csv")#Making it Relative Path -Mayank
data_ori=data.copy()

In [0]:
import matplotlib.pyplot as plt  # For plotting graphs 
from datetime import datetime    # To access datetime 
        
%matplotlib inline

In [0]:
def datetime(df):
  from datetime import datetime
  df['datetime'] = pd.to_datetime(df['datetime'])
  df['year'] = df['datetime'].dt.year 
  #df['day'] = df['datetime'].dt.day 
  df['hour'] = df['datetime'].dt.hour
  df['date'] = df['datetime'].dt.date
  df['Day of Week'] = df['datetime'].apply(lambda time: time.dayofweek)
  
  return df

In [0]:
data_ori=datetime(data_ori)

In [0]:
def normalize(df,columns):
    result=df.copy()
    for feature_name in columns :
        mean_value = df[feature_name].mean()
        std_value = df[feature_name].std()
        result[feature_name] = (df[feature_name] - mean_value) / std_value
        
    return result

In [0]:
data_ori=normalize(data_ori,["temp","atemp","humidity","windspeed"])

In [32]:
data_ori.head()

             datetime  season  holiday  ...  hour        date  Day of Week
0 2011-01-01 00:00:00       1        0  ...     0  2011-01-01            5
1 2011-01-01 01:00:00       1        0  ...     1  2011-01-01            5
2 2011-01-01 02:00:00       1        0  ...     2  2011-01-01            5
3 2011-01-01 03:00:00       1        0  ...     3  2011-01-01            5
4 2011-01-01 04:00:00       1        0  ...     4  2011-01-01            5

[5 rows x 16 columns]

In [33]:
data_ori['Day of Week'].value_counts()

5    1584
6    1579
3    1553
2    1551
0    1551
1    1539
4    1529
Name: Day of Week, dtype: int64

In [0]:
data_ori=data_ori[data_ori['Day of Week']==0]
data_ori=data_ori[data_ori['hour']==17]

In [35]:
data_ori.head()

               datetime  season  holiday  ...  hour        date  Day of Week
62  2011-01-03 17:00:00       1        0  ...    17  2011-01-03            0
226 2011-01-10 17:00:00       1        0  ...    17  2011-01-10            0
389 2011-01-17 17:00:00       1        1  ...    17  2011-01-17            0
589 2011-02-07 17:00:00       1        0  ...    17  2011-02-07            0
752 2011-02-14 17:00:00       1        0  ...    17  2011-02-14            0

[5 rows x 16 columns]

In [0]:
data_ori=data_ori.sort_values(by='datetime',ascending=False)

In [37]:
data_ori.head()

                 datetime  season  holiday  ...  hour        date  Day of Week
10831 2012-12-17 17:00:00       4        0  ...    17  2012-12-17            0
10663 2012-12-10 17:00:00       4        0  ...    17  2012-12-10            0
10495 2012-12-03 17:00:00       4        0  ...    17  2012-12-03            0
10423 2012-11-19 17:00:00       4        0  ...    17  2012-11-19            0
10255 2012-11-12 17:00:00       4        1  ...    17  2012-11-12            0

[5 rows x 16 columns]

In [0]:
#data_ori['Predicted']=0

In [18]:

'''''def mean(df):
  for i in range(0,len(df)-10):
    mean=df['count'].iloc[i+1:i+11].mean()
    df.iat[i,17]=mean
    #print(mean)
     return df''''''

SyntaxError: ignored

In [0]:
#d1=mean(data_ori)

In [0]:
#d1.tail(20)

In [0]:
#d1.drop(d1.tail(10).index,inplace=True)

In [0]:
#d1.loc[10828]

In [0]:
#y_true=d1['count']
#y_pred=d1['Predicted']

In [0]:
data_ori['predicted']=data_ori['count'].rolling(window=10).mean()

In [40]:
data_ori.head(20)

                datetime  season  holiday  ...        date  Day of Week  predicted
9296 2012-09-10 17:00:00       3        0  ...  2012-09-10            0        NaN
9128 2012-09-03 17:00:00       3        1  ...  2012-09-03            0        NaN
8912 2012-08-13 17:00:00       3        0  ...  2012-08-13            0        NaN
8744 2012-08-06 17:00:00       3        0  ...  2012-08-06            0        NaN
8528 2012-07-16 17:00:00       3        0  ...  2012-07-16            0        NaN
8360 2012-07-09 17:00:00       3        0  ...  2012-07-09            0        NaN
8192 2012-07-02 17:00:00       3        0  ...  2012-07-02            0        NaN
8120 2012-06-18 17:00:00       2        0  ...  2012-06-18            0        NaN
7952 2012-06-11 17:00:00       2        0  ...  2012-06-11            0        NaN
7784 2012-06-04 17:00:00       2        0  ...  2012-06-04            0      775.3
7568 2012-05-14 17:00:00       2        0  ...  2012-05-14            0      711.1
7400 2012-05-07 17:00:00       2        0  ...  2012-05-07            0      738.2
7160 2012-04-16 17:00:00       2        1  ...  2012-04-16            0      727.6
6993 2012-04-09 17:00:00       2        0  ...  2012-04-09            0      705.0
6825 2012-04-02 17:00:00       2        0  ...  2012-04-02            0      702.4
6778 2012-03-19 17:00:00       1        0  ...  2012-03-19            0      689.6
6610 2012-03-12 17:00:00       1        0  ...  2012-03-12            0      679.3
6443 2012-03-05 17:00:00       1        0  ...  2012-03-05            0      645.7
6179 2012-02-13 17:00:00       1        0  ...  2012-02-13            0      606.4
6011 2012-02-06 17:00:00       1        0  ...  2012-02-06            0      566.0

[20 rows x 17 columns]

In [0]:
data_ori.drop(data_ori.head(10).index,inplace=True)

In [42]:
data_ori.head(10)

                datetime  season  holiday  ...        date  Day of Week  predicted
7568 2012-05-14 17:00:00       2        0  ...  2012-05-14            0      711.1
7400 2012-05-07 17:00:00       2        0  ...  2012-05-07            0      738.2
7160 2012-04-16 17:00:00       2        1  ...  2012-04-16            0      727.6
6993 2012-04-09 17:00:00       2        0  ...  2012-04-09            0      705.0
6825 2012-04-02 17:00:00       2        0  ...  2012-04-02            0      702.4
6778 2012-03-19 17:00:00       1        0  ...  2012-03-19            0      689.6
6610 2012-03-12 17:00:00       1        0  ...  2012-03-12            0      679.3
6443 2012-03-05 17:00:00       1        0  ...  2012-03-05            0      645.7
6179 2012-02-13 17:00:00       1        0  ...  2012-02-13            0      606.4
6011 2012-02-06 17:00:00       1        0  ...  2012-02-06            0      566.0

[10 rows x 17 columns]

In [0]:
y_true=data_ori['count']
y_pred=data_ori['predicted']

In [44]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_true, y_pred)

131.01777777777778

In [0]:
df['count'].iloc[1:11]

10836     54
10835    120
10834    200
10833    340
10832    507
10831    495
10830    302
10829    211
10828    181
10827    210
Name: count, dtype: int64

In [0]:
df.head(1)

                 datetime  season  holiday  ...        date  Day of Week  Predicted
10837 2012-12-17 23:00:00       4        0  ...  2012-12-17            0          0

[1 rows x 18 columns]

In [0]:
def dummy_data(data, columns):
    for column in columns:
        data = pd.concat([data, pd.get_dummies(data[column], prefix=column)], axis=1)
        data = data.drop(column, axis=1)
    return data

In [0]:
data_ori = dummy_data(data_ori, ["season","weather","hour"])

In [0]:
data_ori=data_ori.drop(['datetime'],axis=1)

In [0]:
''''data=shuffle(data_ori,random_state=1)
nrows = len(data_ori)
training_validation_rows = int(nrows*0.8)
data=data_ori[0:training_validation_rows-1]
test1=data_ori[training_validation_rows:]'''

In [0]:
#data.shape

(10886, 12)

In [0]:
#test1.shape

In [0]:
data_ori.head()

    holiday  workingday      temp     atemp  ...  hour_20  hour_21  hour_22  hour_23
47        0           1 -1.438841 -1.628995  ...        0        0        0        0
68        0           1 -1.649324 -1.539905  ...        0        0        0        1
67        0           1 -1.859808 -1.897444  ...        0        0        1        0
66        0           1 -1.649324 -1.628995  ...        0        1        0        0
65        0           1 -1.544083 -1.450226  ...        1        0        0        0

[5 rows x 24 columns]

In [0]:
def split_data(data):
    data_y = data["count"]
    
    

    data_x = data.drop(["count","casual","registered"], axis=1)

    

    return data_x.values, data_y

data_x, data_y = split_data(data_ori)

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.callbacks import ModelCheckpoint,EarlyStopping
from keras.optimizers import Adam,SGD,RMSprop,Adagrad

In [0]:
adam = Adam(lr=1e-3, decay=1e-3 / 200)

In [0]:
from keras import backend
 
def rmse(y_true, y_pred):
	return backend.sqrt(backend.mean(backend.square(y_pred - y_true), axis=-1))

In [0]:
from keras import regularizers
from keras.layers.core import Dropout
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(128, kernel_initializer='normal',input_dim = data_x.shape[1], activation='relu'))


# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))

NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))

NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))


# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='softplus'))

# Compile the network :
NN_model.compile(loss='mean_squared_logarithmic_error', optimizer=adam, metrics=['mean_absolute_error','mean_squared_error',rmse])
NN_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_26 (Dense)             (None, 128)               2816
_________________________________________________________________
dense_27 (Dense)             (None, 256)               33024
_________________________________________________________________
dense_28 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_29 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_30 (Dense)             (None, 1)                 257
=================================================================
Total params: 167,681
Trainable params: 167,681
Non-trainable params: 0
_________________________________________________________________

In [0]:
checkpoint_name = 'Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose =1, save_best_only = True, mode ='auto')
early_stop=EarlyStopping(monitor='val_loss',patience=10)
callbacks_list = [checkpoint,early_stop]

In [0]:
history=NN_model.fit(data_x, data_y, epochs=100, batch_size=32, validation_split = 0.2, callbacks=callbacks_list)

Train on 8 samples, validate on 2 samples
Epoch 1/100
8/8 [==============================] - 1s 116ms/step - loss: 5.9155 - mean_absolute_error: 57.0738 - mean_squared_error: 5659.7744 - rmse: 57.0738 - val_loss: 0.8505 - val_mean_absolute_error: 45.4767 - val_mean_squared_error: 2074.3784 - val_rmse: 45.4767

Epoch 00001: val_loss improved from inf to 0.85046, saving model to Weights-001--0.85046.hdf5
Epoch 2/100
8/8 [==============================] - 0s 682us/step - loss: 1.1778 - mean_absolute_error: 43.9955 - mean_squared_error: 3393.6440 - rmse: 43.9955 - val_loss: 0.2211 - val_mean_absolute_error: 28.2948 - val_mean_squared_error: 806.8401 - val_rmse: 28.2948

Epoch 00002: val_loss improved from 0.85046 to 0.22113, saving model to Weights-002--0.22113.hdf5
Epoch 3/100
8/8 [==============================] - 0s 761us/step - loss: 1.1287 - mean_absolute_error: 39.6995 - mean_squared_error: 2606.7957 - rmse: 39.6995 - val_loss: 0.0597 - val_mean_absolute_error: 16.2646 - val_mean_squared_error: 270.7773 - val_rmse: 16.2646

Epoch 00003: val_loss improved from 0.22113 to 0.05969, saving model to Weights-003--0.05969.hdf5
Epoch 4/100
8/8 [==============================] - 0s 675us/step - loss: 1.2583 - mean_absolute_error: 39.7999 - mean_squared_error: 2407.2568 - rmse: 39.7999 - val_loss: 0.0153 - val_mean_absolute_error: 8.5177 - val_mean_squared_error: 78.7904 - val_rmse: 8.5177

Epoch 00004: val_loss improved from 0.05969 to 0.01529, saving model to Weights-004--0.01529.hdf5
Epoch 5/100
8/8 [==============================] - 0s 752us/step - loss: 1.3715 - mean_absolute_error: 41.7350 - mean_squared_error: 2431.8115 - rmse: 41.7350 - val_loss: 0.0046 - val_mean_absolute_error: 4.3936 - val_mean_squared_error: 25.5449 - val_rmse: 4.3936

Epoch 00005: val_loss improved from 0.01529 to 0.00462, saving model to Weights-005--0.00462.hdf5
Epoch 6/100
8/8 [==============================] - 0s 764us/step - loss: 1.4375 - mean_absolute_error: 42.7665 - mean_squared_error: 2493.9985 - rmse: 42.7665 - val_loss: 0.0022 - val_mean_absolute_error: 2.5510 - val_mean_squared_error: 12.7492 - val_rmse: 2.5510

Epoch 00006: val_loss improved from 0.00462 to 0.00224, saving model to Weights-006--0.00224.hdf5
Epoch 7/100
8/8 [==============================] - 0s 725us/step - loss: 1.4680 - mean_absolute_error: 43.2266 - mean_squared_error: 2532.7153 - rmse: 43.2266 - val_loss: 0.0026 - val_mean_absolute_error: 2.8923 - val_mean_squared_error: 14.6067 - val_rmse: 2.8923

Epoch 00007: val_loss did not improve from 0.00224
Epoch 8/100
8/8 [==============================] - 0s 962us/step - loss: 1.4623 - mean_absolute_error: 43.1410 - mean_squared_error: 2524.9700 - rmse: 43.1410 - val_loss: 0.0051 - val_mean_absolute_error: 4.6628 - val_mean_squared_error: 27.9842 - val_rmse: 4.6628

Epoch 00008: val_loss did not improve from 0.00224
Epoch 9/100
8/8 [==============================] - 0s 808us/step - loss: 1.4331 - mean_absolute_error: 42.6973 - mean_squared_error: 2488.6914 - rmse: 42.6973 - val_loss: 0.0125 - val_mean_absolute_error: 7.6777 - val_mean_squared_error: 65.1907 - val_rmse: 7.6777

Epoch 00009: val_loss did not improve from 0.00224
Epoch 10/100
8/8 [==============================] - 0s 969us/step - loss: 1.3847 - mean_absolute_error: 41.9441 - mean_squared_error: 2441.6006 - rmse: 41.9441 - val_loss: 0.0288 - val_mean_absolute_error: 11.6059 - val_mean_squared_error: 140.9369 - val_rmse: 11.6059

Epoch 00010: val_loss did not improve from 0.00224
Epoch 11/100
8/8 [==============================] - 0s 738us/step - loss: 1.3244 - mean_absolute_error: 40.9629 - mean_squared_error: 2407.4810 - rmse: 40.9629 - val_loss: 0.0633 - val_mean_absolute_error: 16.6998 - val_mean_squared_error: 285.1262 - val_rmse: 16.6998

Epoch 00011: val_loss did not improve from 0.00224
Epoch 12/100
8/8 [==============================] - 0s 716us/step - loss: 1.2525 - mean_absolute_error: 39.6907 - mean_squared_error: 2409.2031 - rmse: 39.6907 - val_loss: 0.1276 - val_mean_absolute_error: 22.6267 - val_mean_squared_error: 518.2089 - val_rmse: 22.6267

Epoch 00012: val_loss did not improve from 0.00224
Epoch 13/100
8/8 [==============================] - 0s 807us/step - loss: 1.1804 - mean_absolute_error: 38.2791 - mean_squared_error: 2476.4844 - rmse: 38.2791 - val_loss: 0.2414 - val_mean_absolute_error: 29.2801 - val_mean_squared_error: 863.5703 - val_rmse: 29.2801

Epoch 00013: val_loss did not improve from 0.00224
Epoch 14/100
8/8 [==============================] - 0s 798us/step - loss: 1.1217 - mean_absolute_error: 39.9424 - mean_squared_error: 2635.7104 - rmse: 39.9424 - val_loss: 0.4340 - val_mean_absolute_error: 36.4187 - val_mean_squared_error: 1332.5698 - val_rmse: 36.4187

Epoch 00014: val_loss did not improve from 0.00224
Epoch 15/100
8/8 [==============================] - 0s 837us/step - loss: 1.0992 - mean_absolute_error: 41.7274 - mean_squared_error: 2905.0122 - rmse: 41.7275 - val_loss: 0.7019 - val_mean_absolute_error: 42.8295 - val_mean_squared_error: 1840.6200 - val_rmse: 42.8295

Epoch 00015: val_loss did not improve from 0.00224
Epoch 16/100
8/8 [==============================] - 0s 868us/step - loss: 1.1374 - mean_absolute_error: 43.3311 - mean_squared_error: 3233.7866 - rmse: 43.3311 - val_loss: 0.9003 - val_mean_absolute_error: 46.2668 - val_mean_squared_error: 2146.8647 - val_rmse: 46.2668

Epoch 00016: val_loss did not improve from 0.00224

In [0]:
test1_x, test1_y = split_data(test1)

In [0]:
scores=NN_model.evaluate(test1_x,test1_y)

10/10 [==============================] - 0s 288us/step

In [0]:
print(NN_model.metrics_names)

['loss', 'mean_absolute_error', 'mean_squared_error', 'rmse']

In [0]:
test1_loss=scores[0]
test1_mae=scores[1]
test1_mse=scores[2]
test1_rmse=scores[3]

In [0]:
test1_mae

44.6051025390625