In [0]:
import pandas as pd
from sklearn.utils import shuffle

In [0]:
data=pd.read_csv("train.csv")#Making it Relative Path -Mayank
data_ori=data.copy()

In [0]:
data_real_ori = data.copy()

In [0]:
import matplotlib.pyplot as plt  # For plotting graphs 
from datetime import datetime    # To access datetime 
        
%matplotlib inline

In [100]:
data.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [0]:
def datetime(df):
  from datetime import datetime
  df['datetime'] = pd.to_datetime(df['datetime'])
  df['year'] = df['datetime'].dt.year 
  #df['day'] = df['datetime'].dt.day 
  df['hour'] = df['datetime'].dt.hour
  #df['date'] = df['datetime'].dt.date
  df['Day of Week'] = df['datetime'].apply(lambda time: time.dayofweek)
  return df

In [0]:
data_ori=datetime(data_ori)

In [0]:
data_ori=data_ori.drop('datetime',axis=1)

In [0]:
def normalize(df,columns):
    result=df.copy()
    for feature_name in columns :
        mean_value = df[feature_name].mean()
        std_value = df[feature_name].std()
        result[feature_name] = (df[feature_name] - mean_value) / std_value
        
    return (result, mean_value, std_value)

In [0]:
data_ori, mean_temp, sd_temp=normalize(data_ori,["temp"])
data_ori,mean_atemp,sd_atemp=normalize(data_ori,["atemp"])
data_ori,mean_humidity,sd_humidity=normalize(data_ori,["humidity"])
data_ori,mean_windspeed,sd_windspeed=normalize(data_ori,["windspeed"])

In [106]:
data_ori.head()

   season  holiday  workingday  weather  ...  count  year  hour  Day of Week
0       1        0           0        1  ...     16  2011     0            5
1       1        0           0        1  ...     40  2011     1            5
2       1        0           0        1  ...     32  2011     2            5
3       1        0           0        1  ...     13  2011     3            5
4       1        0           0        1  ...      1  2011     4            5

[5 rows x 14 columns]

In [0]:
data_ori, mean_temp, sd_temp=normalize(data_ori,["temp"])

In [108]:
mean_temp, mean_humidity, mean_windspeed, mean_atemp

(1.1189428545540056e-14,
 61.88645967297446,
 12.799395406945093,
 23.65508405291192)

In [109]:
sd_temp, sd_humidity, sd_windspeed, sd_atemp

(1.000000000000019, 19.245033277394786, 8.16453732683849, 8.474600626484888)

In [0]:



def dummy_data(data, columns):
    for column in columns:
        data = pd.concat([data, pd.get_dummies(data[column], prefix=column)], axis=1)
        data = data.drop(column, axis=1)
    return data

In [0]:


data_ori = dummy_data(data_ori, ["season","weather","hour"])

In [113]:
data_ori.dtypes

holiday          int64
workingday       int64
temp           float64
atemp          float64
humidity       float64
windspeed      float64
casual           int64
registered       int64
count            int64
year             int64
Day of Week      int64
season_1         uint8
season_2         uint8
season_3         uint8
season_4         uint8
weather_1        uint8
weather_2        uint8
weather_3        uint8
weather_4        uint8
hour_0           uint8
hour_1           uint8
hour_2           uint8
hour_3           uint8
hour_4           uint8
hour_5           uint8
hour_6           uint8
hour_7           uint8
hour_8           uint8
hour_9           uint8
hour_10          uint8
hour_11          uint8
hour_12          uint8
hour_13          uint8
hour_14          uint8
hour_15          uint8
hour_16          uint8
hour_17          uint8
hour_18          uint8
hour_19          uint8
hour_20          uint8
hour_21          uint8
hour_22          uint8
hour_23          uint8
dtype: object

In [0]:

data=shuffle(data_ori,random_state=1)
nrows = len(data_ori)
training_validation_rows = int(nrows*0.8)
data=data_ori[0:training_validation_rows-1]
test1=data_ori[training_validation_rows:]

In [51]:
data.shape

(8707, 43)

In [52]:
test1.shape

(2178, 43)

In [54]:
data.head()

   holiday  workingday      temp     atemp  ...  hour_20  hour_21  hour_22  hour_23
0        0           0 -1.333599 -1.092687  ...        0        0        0        0
1        0           0 -1.438841 -1.182367  ...        0        0        0        0
2        0           0 -1.438841 -1.182367  ...        0        0        0        0
3        0           0 -1.333599 -1.092687  ...        0        0        0        0
4        0           0 -1.333599 -1.092687  ...        0        0        0        0

[5 rows x 43 columns]

In [0]:

def split_valid_test_data(data, fraction=0.2):
    data_y = data["count"]
    
    

    data_x = data.drop(["count","casual","registered"], axis=1)

    

    return data_x.values, data_y

data_x, data_y = split_valid_test_data(data)

In [56]:
data_x.shape

(8707, 40)

In [57]:
data.columns

Index(['holiday', 'workingday', 'temp', 'atemp', 'humidity', 'windspeed',
       'casual', 'registered', 'count', 'year', 'Day of Week', 'season_1',
       'season_2', 'season_3', 'season_4', 'weather_1', 'weather_2',
       'weather_3', 'weather_4', 'hour_0', 'hour_1', 'hour_2', 'hour_3',
       'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10',
       'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16',
       'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22',
       'hour_23'],
      dtype='object')

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.callbacks import ModelCheckpoint,EarlyStopping
from keras.optimizers import Adam,SGD,RMSprop,Adagrad

In [0]:

  
adam = Adam(lr=1e-3, decay=1e-3 / 200)
 
from keras import backend
 
def rmse(y_true, y_pred):
	return backend.sqrt(backend.mean(backend.square(y_pred - y_true), axis=-1))

In [59]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(128, kernel_initializer='normal',input_dim = data_x.shape[1], activation='relu'))

# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='softplus'))

# Compile the network :
NN_model.compile(loss='mean_squared_logarithmic_error', optimizer=adam, metrics=['mean_absolute_error','mean_squared_error',rmse])
NN_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 128)               5248
_________________________________________________________________
dense_7 (Dense)              (None, 256)               33024
_________________________________________________________________
dense_8 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_9 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 257
=================================================================
Total params: 170,113
Trainable params: 170,113
Non-trainable params: 0
_________________________________________________________________

In [0]:
checkpoint_name = 'Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose =1, save_best_only = True, mode ='auto')
early_stop=EarlyStopping(monitor='val_loss',patience=10)
callbacks_list = [checkpoint,early_stop]

In [0]:
def plot_history(history):
  hist = pd.DataFrame(history.history)
  hist['epoch'] = history.epoch
  
  plt.figure()
  plt.xlabel('Epoch')
  plt.ylabel('Mean Abs Error')
  plt.plot(hist['epoch'], hist['mean_absolute_error'],
           label='Train Error')
  plt.plot(hist['epoch'], hist['val_mean_absolute_error'],
           label = 'Val Error')
  plt.ylim([0,5])
  plt.legend()
  
 
 
  plt.legend()
  plt.show()

In [61]:
history=NN_model.fit(data_x, data_y, epochs=100, batch_size=32, validation_split = 0.2, callbacks=callbacks_list)

Train on 6965 samples, validate on 1742 samples
Epoch 1/100
6965/6965 [==============================] - 1s 200us/step - loss: 1.9891 - mean_absolute_error: 111.3076 - mean_squared_error: 24966.5719 - rmse: 111.3076 - val_loss: 2.2684 - val_mean_absolute_error: 218.4471 - val_mean_squared_error: 83652.5885 - val_rmse: 218.4471

Epoch 00001: val_loss improved from inf to 2.26836, saving model to Weights-001--2.26836.hdf5
Epoch 2/100
6965/6965 [==============================] - 1s 139us/step - loss: 1.9480 - mean_absolute_error: 110.8926 - mean_squared_error: 24919.7104 - rmse: 110.8926 - val_loss: 2.2368 - val_mean_absolute_error: 217.6597 - val_mean_squared_error: 83212.3419 - val_rmse: 217.6597

Epoch 00002: val_loss improved from 2.26836 to 2.23679, saving model to Weights-002--2.23679.hdf5
Epoch 3/100
6965/6965 [==============================] - 1s 140us/step - loss: 1.8705 - mean_absolute_error: 108.6417 - mean_squared_error: 23932.1154 - rmse: 108.6417 - val_loss: 1.9479 - val_mean_absolute_error: 207.4333 - val_mean_squared_error: 76382.1581 - val_rmse: 207.4333

Epoch 00003: val_loss improved from 2.23679 to 1.94794, saving model to Weights-003--1.94794.hdf5
Epoch 4/100
6965/6965 [==============================] - 1s 132us/step - loss: 1.4358 - mean_absolute_error: 94.3842 - mean_squared_error: 19533.1546 - rmse: 94.3842 - val_loss: 1.2057 - val_mean_absolute_error: 147.9211 - val_mean_squared_error: 44098.3705 - val_rmse: 147.9211

Epoch 00004: val_loss improved from 1.94794 to 1.20569, saving model to Weights-004--1.20569.hdf5
Epoch 5/100
6965/6965 [==============================] - 1s 130us/step - loss: 1.1817 - mean_absolute_error: 82.6428 - mean_squared_error: 15453.6812 - rmse: 82.6428 - val_loss: 0.9455 - val_mean_absolute_error: 132.9900 - val_mean_squared_error: 38036.0368 - val_rmse: 132.9900

Epoch 00005: val_loss improved from 1.20569 to 0.94551, saving model to Weights-005--0.94551.hdf5
Epoch 6/100
6965/6965 [==============================] - 1s 141us/step - loss: 0.9088 - mean_absolute_error: 74.9157 - mean_squared_error: 12983.7783 - rmse: 74.9157 - val_loss: 0.7615 - val_mean_absolute_error: 129.1051 - val_mean_squared_error: 37519.9137 - val_rmse: 129.1050

Epoch 00006: val_loss improved from 0.94551 to 0.76155, saving model to Weights-006--0.76155.hdf5
Epoch 7/100
6965/6965 [==============================] - 1s 138us/step - loss: 0.7033 - mean_absolute_error: 68.9194 - mean_squared_error: 11341.0507 - rmse: 68.9194 - val_loss: 0.6694 - val_mean_absolute_error: 141.4325 - val_mean_squared_error: 44086.0847 - val_rmse: 141.4325

Epoch 00007: val_loss improved from 0.76155 to 0.66940, saving model to Weights-007--0.66940.hdf5
Epoch 8/100
6965/6965 [==============================] - 1s 132us/step - loss: 0.6140 - mean_absolute_error: 67.5370 - mean_squared_error: 10914.0058 - rmse: 67.5370 - val_loss: 0.5360 - val_mean_absolute_error: 127.9146 - val_mean_squared_error: 37633.9578 - val_rmse: 127.9146

Epoch 00008: val_loss improved from 0.66940 to 0.53600, saving model to Weights-008--0.53600.hdf5
Epoch 9/100
6965/6965 [==============================] - 1s 125us/step - loss: 0.6028 - mean_absolute_error: 67.6487 - mean_squared_error: 10733.8264 - rmse: 67.6487 - val_loss: 0.8623 - val_mean_absolute_error: 158.2481 - val_mean_squared_error: 50812.0944 - val_rmse: 158.2481

Epoch 00009: val_loss did not improve from 0.53600
Epoch 10/100
6965/6965 [==============================] - 1s 129us/step - loss: 0.5038 - mean_absolute_error: 62.9181 - mean_squared_error: 9578.8767 - rmse: 62.9181 - val_loss: 0.3964 - val_mean_absolute_error: 110.5429 - val_mean_squared_error: 29347.4649 - val_rmse: 110.5429

Epoch 00010: val_loss improved from 0.53600 to 0.39636, saving model to Weights-010--0.39636.hdf5
Epoch 11/100
6965/6965 [==============================] - 1s 137us/step - loss: 0.5100 - mean_absolute_error: 63.0017 - mean_squared_error: 9386.8680 - rmse: 63.0017 - val_loss: 0.5029 - val_mean_absolute_error: 125.7037 - val_mean_squared_error: 35574.3512 - val_rmse: 125.7037

Epoch 00011: val_loss did not improve from 0.39636
Epoch 12/100
6965/6965 [==============================] - 1s 140us/step - loss: 0.5107 - mean_absolute_error: 62.7210 - mean_squared_error: 9360.4454 - rmse: 62.7210 - val_loss: 0.4441 - val_mean_absolute_error: 121.5949 - val_mean_squared_error: 33540.5345 - val_rmse: 121.5949

Epoch 00012: val_loss did not improve from 0.39636
Epoch 13/100
6965/6965 [==============================] - 1s 152us/step - loss: 0.4744 - mean_absolute_error: 61.0810 - mean_squared_error: 8919.9714 - rmse: 61.0810 - val_loss: 0.5428 - val_mean_absolute_error: 133.7627 - val_mean_squared_error: 38035.1886 - val_rmse: 133.7627

Epoch 00013: val_loss did not improve from 0.39636
Epoch 14/100
6965/6965 [==============================] - 1s 139us/step - loss: 0.4764 - mean_absolute_error: 60.5961 - mean_squared_error: 8772.2271 - rmse: 60.5961 - val_loss: 0.4225 - val_mean_absolute_error: 119.5921 - val_mean_squared_error: 32073.1525 - val_rmse: 119.5921

Epoch 00014: val_loss did not improve from 0.39636
Epoch 15/100
6965/6965 [==============================] - 1s 135us/step - loss: 0.4915 - mean_absolute_error: 61.7099 - mean_squared_error: 8936.1303 - rmse: 61.7099 - val_loss: 0.4311 - val_mean_absolute_error: 94.8241 - val_mean_squared_error: 19524.4491 - val_rmse: 94.8241

Epoch 00015: val_loss did not improve from 0.39636
Epoch 16/100
6965/6965 [==============================] - 1s 133us/step - loss: 0.4612 - mean_absolute_error: 59.8636 - mean_squared_error: 8599.8156 - rmse: 59.8636 - val_loss: 0.3455 - val_mean_absolute_error: 107.7513 - val_mean_squared_error: 27125.9745 - val_rmse: 107.7513

Epoch 00016: val_loss improved from 0.39636 to 0.34545, saving model to Weights-016--0.34545.hdf5
Epoch 17/100
6965/6965 [==============================] - 1s 131us/step - loss: 0.4583 - mean_absolute_error: 60.0196 - mean_squared_error: 8480.3953 - rmse: 60.0196 - val_loss: 0.3561 - val_mean_absolute_error: 109.5076 - val_mean_squared_error: 27862.9181 - val_rmse: 109.5076

Epoch 00017: val_loss did not improve from 0.34545
Epoch 18/100
6965/6965 [==============================] - 1s 130us/step - loss: 0.4591 - mean_absolute_error: 60.0522 - mean_squared_error: 8459.2827 - rmse: 60.0522 - val_loss: 0.6644 - val_mean_absolute_error: 148.8925 - val_mean_squared_error: 44145.0702 - val_rmse: 148.8925

Epoch 00018: val_loss did not improve from 0.34545
Epoch 19/100
6965/6965 [==============================] - 1s 135us/step - loss: 0.4417 - mean_absolute_error: 58.8305 - mean_squared_error: 8287.5129 - rmse: 58.8305 - val_loss: 0.5567 - val_mean_absolute_error: 132.0707 - val_mean_squared_error: 36148.9467 - val_rmse: 132.0707

Epoch 00019: val_loss did not improve from 0.34545
Epoch 20/100
6965/6965 [==============================] - 1s 139us/step - loss: 0.4559 - mean_absolute_error: 59.6845 - mean_squared_error: 8411.0208 - rmse: 59.6845 - val_loss: 0.3279 - val_mean_absolute_error: 104.6021 - val_mean_squared_error: 25589.2746 - val_rmse: 104.6021

Epoch 00020: val_loss improved from 0.34545 to 0.32788, saving model to Weights-020--0.32788.hdf5
Epoch 21/100
6965/6965 [==============================] - 1s 128us/step - loss: 0.4515 - mean_absolute_error: 59.7934 - mean_squared_error: 8434.2066 - rmse: 59.7934 - val_loss: 0.4925 - val_mean_absolute_error: 123.3836 - val_mean_squared_error: 32551.5623 - val_rmse: 123.3836

Epoch 00021: val_loss did not improve from 0.32788
Epoch 22/100
6965/6965 [==============================] - 1s 131us/step - loss: 0.4521 - mean_absolute_error: 59.6847 - mean_squared_error: 8393.4706 - rmse: 59.6847 - val_loss: 0.4200 - val_mean_absolute_error: 111.2084 - val_mean_squared_error: 27894.8247 - val_rmse: 111.2084

Epoch 00022: val_loss did not improve from 0.32788
Epoch 23/100
6965/6965 [==============================] - 1s 135us/step - loss: 0.4289 - mean_absolute_error: 58.6427 - mean_squared_error: 8139.4973 - rmse: 58.6427 - val_loss: 0.4892 - val_mean_absolute_error: 128.4786 - val_mean_squared_error: 34831.5938 - val_rmse: 128.4786

Epoch 00023: val_loss did not improve from 0.32788
Epoch 24/100
6965/6965 [==============================] - 1s 139us/step - loss: 0.4467 - mean_absolute_error: 59.8546 - mean_squared_error: 8444.1272 - rmse: 59.8546 - val_loss: 0.3411 - val_mean_absolute_error: 98.1941 - val_mean_squared_error: 22443.2506 - val_rmse: 98.1941

Epoch 00024: val_loss did not improve from 0.32788
Epoch 25/100
6965/6965 [==============================] - 1s 136us/step - loss: 0.4257 - mean_absolute_error: 58.2095 - mean_squared_error: 8009.7922 - rmse: 58.2095 - val_loss: 0.3382 - val_mean_absolute_error: 103.9080 - val_mean_squared_error: 24808.5411 - val_rmse: 103.9080

Epoch 00025: val_loss did not improve from 0.32788
Epoch 26/100
6965/6965 [==============================] - 1s 134us/step - loss: 0.4334 - mean_absolute_error: 58.7770 - mean_squared_error: 8178.5911 - rmse: 58.7770 - val_loss: 0.3574 - val_mean_absolute_error: 112.3385 - val_mean_squared_error: 28609.8466 - val_rmse: 112.3385

Epoch 00026: val_loss did not improve from 0.32788
Epoch 27/100
6965/6965 [==============================] - 1s 133us/step - loss: 0.4168 - mean_absolute_error: 58.1271 - mean_squared_error: 7989.7587 - rmse: 58.1271 - val_loss: 0.4848 - val_mean_absolute_error: 124.4784 - val_mean_squared_error: 32956.2241 - val_rmse: 124.4784

Epoch 00027: val_loss did not improve from 0.32788
Epoch 28/100
6965/6965 [==============================] - 1s 128us/step - loss: 0.4274 - mean_absolute_error: 58.6934 - mean_squared_error: 8121.7927 - rmse: 58.6934 - val_loss: 0.6423 - val_mean_absolute_error: 143.8185 - val_mean_squared_error: 41180.0368 - val_rmse: 143.8185

Epoch 00028: val_loss did not improve from 0.32788
Epoch 29/100
6965/6965 [==============================] - 1s 129us/step - loss: 0.4227 - mean_absolute_error: 58.2881 - mean_squared_error: 7993.6983 - rmse: 58.2881 - val_loss: 0.4651 - val_mean_absolute_error: 126.5256 - val_mean_squared_error: 34140.4285 - val_rmse: 126.5256

Epoch 00029: val_loss did not improve from 0.32788
Epoch 30/100
6965/6965 [==============================] - 1s 127us/step - loss: 0.4167 - mean_absolute_error: 57.8735 - mean_squared_error: 8062.4658 - rmse: 57.8735 - val_loss: 0.2902 - val_mean_absolute_error: 93.5702 - val_mean_squared_error: 20109.3061 - val_rmse: 93.5702

Epoch 00030: val_loss improved from 0.32788 to 0.29020, saving model to Weights-030--0.29020.hdf5
Epoch 31/100
6965/6965 [==============================] - 1s 125us/step - loss: 0.4204 - mean_absolute_error: 58.9018 - mean_squared_error: 8156.0148 - rmse: 58.9018 - val_loss: 0.3230 - val_mean_absolute_error: 105.4758 - val_mean_squared_error: 25792.2150 - val_rmse: 105.4758

Epoch 00031: val_loss did not improve from 0.29020
Epoch 32/100
6965/6965 [==============================] - 1s 129us/step - loss: 0.4168 - mean_absolute_error: 58.3014 - mean_squared_error: 8060.8330 - rmse: 58.3014 - val_loss: 0.3053 - val_mean_absolute_error: 101.4075 - val_mean_squared_error: 23879.7146 - val_rmse: 101.4075

Epoch 00032: val_loss did not improve from 0.29020
Epoch 33/100
6965/6965 [==============================] - 1s 140us/step - loss: 0.4336 - mean_absolute_error: 59.3477 - mean_squared_error: 8230.6604 - rmse: 59.3477 - val_loss: 0.3293 - val_mean_absolute_error: 100.1123 - val_mean_squared_error: 23383.9683 - val_rmse: 100.1123

Epoch 00033: val_loss did not improve from 0.29020
Epoch 34/100
6965/6965 [==============================] - 1s 137us/step - loss: 0.4170 - mean_absolute_error: 58.6800 - mean_squared_error: 8112.2361 - rmse: 58.6800 - val_loss: 0.3482 - val_mean_absolute_error: 110.6712 - val_mean_squared_error: 27679.6114 - val_rmse: 110.6712

Epoch 00034: val_loss did not improve from 0.29020
Epoch 35/100
6965/6965 [==============================] - 1s 134us/step - loss: 0.3938 - mean_absolute_error: 56.8499 - mean_squared_error: 7709.3624 - rmse: 56.8499 - val_loss: 0.3633 - val_mean_absolute_error: 110.2269 - val_mean_squared_error: 26886.4633 - val_rmse: 110.2269

Epoch 00035: val_loss did not improve from 0.29020
Epoch 36/100
6965/6965 [==============================] - 1s 137us/step - loss: 0.4035 - mean_absolute_error: 57.0088 - mean_squared_error: 7628.7133 - rmse: 57.0088 - val_loss: 0.3254 - val_mean_absolute_error: 106.6325 - val_mean_squared_error: 26598.9805 - val_rmse: 106.6325

Epoch 00036: val_loss did not improve from 0.29020
Epoch 37/100
6965/6965 [==============================] - 1s 130us/step - loss: 0.4096 - mean_absolute_error: 57.9301 - mean_squared_error: 7951.7480 - rmse: 57.9301 - val_loss: 0.2951 - val_mean_absolute_error: 100.3957 - val_mean_squared_error: 23401.7571 - val_rmse: 100.3957

Epoch 00037: val_loss did not improve from 0.29020
Epoch 38/100
6965/6965 [==============================] - 1s 139us/step - loss: 0.3882 - mean_absolute_error: 56.6066 - mean_squared_error: 7600.9360 - rmse: 56.6066 - val_loss: 0.5702 - val_mean_absolute_error: 134.7070 - val_mean_squared_error: 36318.7274 - val_rmse: 134.7070

Epoch 00038: val_loss did not improve from 0.29020
Epoch 39/100
6965/6965 [==============================] - 1s 138us/step - loss: 0.3662 - mean_absolute_error: 54.8094 - mean_squared_error: 7198.7689 - rmse: 54.8094 - val_loss: 0.3445 - val_mean_absolute_error: 110.8274 - val_mean_squared_error: 26744.8862 - val_rmse: 110.8274

Epoch 00039: val_loss did not improve from 0.29020
Epoch 40/100
6965/6965 [==============================] - 1s 135us/step - loss: 0.3904 - mean_absolute_error: 56.7049 - mean_squared_error: 7586.2070 - rmse: 56.7049 - val_loss: 0.3782 - val_mean_absolute_error: 121.2888 - val_mean_squared_error: 31561.3964 - val_rmse: 121.2888

Epoch 00040: val_loss did not improve from 0.29020

In [160]:
import pickle
from sklearn.externals import joblib

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [161]:
joblib.dump(NN_model,'NN_model.pkl')

['NN_model.pkl']

In [97]:
data.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [0]:
data['count'].describe()

count    8707.000000
mean      174.409670
std       166.438566
min         1.000000
25%        38.000000
50%       130.000000
75%       259.000000
max       891.000000
Name: count, dtype: float64

In [0]:
test=pd.read_csv("test.csv")
test_original=test.copy()

In [0]:
test.shape

(6493, 9)

In [0]:
test.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed'],
      dtype='object')

In [0]:
test['datetime'] = pd.to_datetime(test['datetime'], errors='coerce')

In [0]:
test['year'] = test['datetime'].dt.year 
#test['month'] = test['datetime'].dt.month 
test['day'] = test['datetime'].dt.day 
test['hour'] = test['datetime'].dt.hour

In [0]:
test=test.drop('datetime',axis=1)

In [0]:
test=normalize(test,["temp","atemp","humidity","windspeed"])

In [0]:
test = dummy_data(test, ["season","weather","hour"])

In [0]:
test.shape

(6493, 40)

In [68]:
test1.columns

Index(['holiday', 'workingday', 'temp', 'atemp', 'humidity', 'windspeed',
       'casual', 'registered', 'count', 'year', 'Day of Week', 'season_1',
       'season_2', 'season_3', 'season_4', 'weather_1', 'weather_2',
       'weather_3', 'weather_4', 'hour_0', 'hour_1', 'hour_2', 'hour_3',
       'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10',
       'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16',
       'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22',
       'hour_23'],
      dtype='object')

In [0]:
rest_working_day=1

In [0]:
def transform_temp(temp):
  
  
  return ((temp-mean_temp)/sd_temp)

In [0]:
def transform_atemp(atemp):
  
  return ((atemp-mean_atemp)/sd_atemp)

In [0]:
def transform_humidity(humidity):
  
  return ((humidity-mean_humidity)/sd_humidity)

In [0]:
def transform_windspeed(windspeed):
   return ((windspeed-mean_windspeed)/sd_windspeed)

In [96]:
data_real_ori.tail(10)

                  datetime  season  holiday  ...  casual  registered  count
10876  2012-12-19 14:00:00       4        0  ...      33         185    218
10877  2012-12-19 15:00:00       4        0  ...      28         209    237
10878  2012-12-19 16:00:00       4        0  ...      37         297    334
10879  2012-12-19 17:00:00       4        0  ...      26         536    562
10880  2012-12-19 18:00:00       4        0  ...      23         546    569
10881  2012-12-19 19:00:00       4        0  ...       7         329    336
10882  2012-12-19 20:00:00       4        0  ...      10         231    241
10883  2012-12-19 21:00:00       4        0  ...       4         164    168
10884  2012-12-19 22:00:00       4        0  ...      12         117    129
10885  2012-12-19 23:00:00       4        0  ...       4          84     88

[10 rows x 12 columns]

In [0]:
import array

In [0]:
def predict_demand(holiday,workingday,temp,atemp,humidity,windspeed,year,Day_of_Week,season_1,
                   season_2,season_3,season_4,weather_1,weather_2,weather_3,weather_4,
                   hour_0,hour_1,hour_2,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,hour_9,
                   hour_10,hour_11,hour_12,hour_13,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23):
  
  predict_rest=[holiday, workingday, transform_temp(temp),transform_atemp(atemp),transform_humidity(humidity),transform_windspeed(windspeed),year,Day_of_Week,season_1,
                   season_2,season_3,season_4,weather_1,weather_2,weather_3,weather_4,
                   hour_0,hour_1,hour_2,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,hour_9,
                   hour_10,hour_11,hour_12,hour_13,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23 ]
  
 
  
 
  predict_rest=np.array(predict_rest)
  predict_rest=predict_rest.reshape((1, -1))
  prediction=NN_model.predict(predict_rest)
  return prediction[0][0]

In [159]:
predict_demand(0,1,22,22,71,24,2012,6,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0)

626.5452

In [0]:
predict_rest=[0,rest_working_day,transform_temp(22),transform_atemp(22),transform_humidity(71),transform_windspeed(24),2012,6,0,0,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0]

In [0]:
predict_rest=np.array(predict_rest)

In [0]:
predict_rest=predict_rest.reshape((1, -1))

In [146]:
predict_rest.shape

(1, 40)

In [71]:
test1.head(2)

      holiday  workingday      temp  ...  hour_21  hour_22  hour_23
8708        0           0  1.192201  ...        0        0        0
8709        0           0  1.192201  ...        0        0        0

[2 rows x 43 columns]

In [114]:
data_ori.dtypes

holiday          int64
workingday       int64
temp           float64
atemp          float64
humidity       float64
windspeed      float64
casual           int64
registered       int64
count            int64
year             int64
Day of Week      int64
season_1         uint8
season_2         uint8
season_3         uint8
season_4         uint8
weather_1        uint8
weather_2        uint8
weather_3        uint8
weather_4        uint8
hour_0           uint8
hour_1           uint8
hour_2           uint8
hour_3           uint8
hour_4           uint8
hour_5           uint8
hour_6           uint8
hour_7           uint8
hour_8           uint8
hour_9           uint8
hour_10          uint8
hour_11          uint8
hour_12          uint8
hour_13          uint8
hour_14          uint8
hour_15          uint8
hour_16          uint8
hour_17          uint8
hour_18          uint8
hour_19          uint8
hour_20          uint8
hour_21          uint8
hour_22          uint8
hour_23          uint8
dtype: object

In [0]:


test1_x, test1_y = split_valid_test_data(test1)

In [67]:
test1_x

array([[ 0.        ,  0.        ,  1.19220087, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  1.19220087, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  1.29744255, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  1.        , -0.80739104, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.        ,  1.        , -0.80739104, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.        ,  1.        , -0.91263272, ...,  0.        ,
         0.        ,  1.        ]])

In [63]:
scores=NN_model.evaluate(test1_x,test1_y)

2178/2178 [==============================] - 0s 40us/step

In [64]:
print(NN_model.metrics_names)

['loss', 'mean_absolute_error', 'mean_squared_error', 'rmse']

In [0]:
test1_loss=scores[0]
test1_mae=scores[1]
test1_mse=scores[2]
test1_rmse=scores[3]

In [66]:
test1_mae

131.669765861238

In [0]:
#making predictions
prediction=NN_model.predict(predict_rest)

In [150]:
prediction[0][0]

626.5452

In [0]:

evaluation=test_original['datetime'].to_frame()
evaluation["count"]=prediction
evaluation[:10]

              datetime       count
0  2011-01-20 00:00:00   12.484183
1  2011-01-20 01:00:00    5.482817
2  2011-01-20 02:00:00    3.354281
3  2011-01-20 03:00:00    2.179120
4  2011-01-20 04:00:00    2.121344
5  2011-01-20 05:00:00   10.160122
6  2011-01-20 06:00:00   55.021420
7  2011-01-20 07:00:00  150.138443
8  2011-01-20 08:00:00  280.271149
9  2011-01-20 09:00:00  132.132675

In [0]:
evaluation["count"] = evaluation["count"].astype(int)
evaluation["count"]

0        14
1         7
2         4
3         2
4         2
5        13
6        47
7       152
8       262
9       136
10       69
11       74
12      107
13       86
14       79
15       84
16      119
17      259
18      203
19      141
20       91
21       68
22       49
23       32
24       12
25        5
26        3
27        2
28        2
29       12
       ...
6463     99
6464    115
6465     59
6466     51
6467     38
6468     29
6469     13
6470      6
6471      3
6472      2
6473      2
6474     12
6475     45
6476    133
6477    223
6478    131
6479     61
6480     66
6481     80
6482     86
6483     78
6484     85
6485    110
6486    244
6487    222
6488    145
6489    103
6490     90
6491     73
6492     42
Name: count, Length: 6493, dtype: int64

In [0]:
evaluation.to_csv("submissionv19.csv",index=False)