<a href="https://colab.research.google.com/github/brontominds/bounce.demo/blob/Ver0.01a/Random_forest_without_one_hot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
data=pd.read_csv("train.csv")#Making it Relative Path -Mayank
data_ori=data.copy()

In [0]:
import matplotlib.pyplot as plt  # For plotting graphs 
from datetime import datetime

In [0]:
def datetime(df):
  from datetime import datetime
  df['datetime'] = pd.to_datetime(df['datetime'])
  df['year'] = df['datetime'].dt.year 
  df['day'] = df['datetime'].dt.day 
  df['hour'] = df['datetime'].dt.hour
  return df

In [0]:
data_ori=datetime(data_ori)

In [0]:
data_ori=data_ori.drop('datetime',axis=1)

In [0]:
def normalize(df,columns):
    result=df.copy()
    for feature_name in columns :
        mean_value = df[feature_name].mean()
        std_value = df[feature_name].std()
        result[feature_name] = (df[feature_name] - mean_value) / std_value
        
    return result

In [0]:
data_ori=normalize(data_ori,["temp","atemp","humidity","windspeed"])

In [0]:
def split_data(data_ori):
    data_y = data_ori["count"]
    
    

    data_x = data_ori.drop(["count","casual","registered"], axis=1)

    

    return data_x.values, data_y

data_x, data_y = split_data(data_ori)

In [0]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(data_x,data_y, random_state=1)

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [16]:
my_model=RandomForestRegressor(random_state=1).fit(train_X, train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [0]:
test=pd.read_csv("test.csv")
test_original=test.copy()

In [0]:
test_original=datetime(test_original)
test_original=test_original.drop('datetime',axis=1)

In [0]:
test_original=normalize(test_original,["temp","atemp","humidity","windspeed"])

In [0]:
predictions = my_model.predict(test_original)

In [32]:
predictions.shape

(6493,)

In [33]:

evaluation=test['datetime'].to_frame()
evaluation["count"]=predictions
evaluation[:10]

              datetime  count
0  2011-01-20 00:00:00   11.6
1  2011-01-20 01:00:00    5.6
2  2011-01-20 02:00:00    6.2
3  2011-01-20 03:00:00    4.7
4  2011-01-20 04:00:00    3.4
5  2011-01-20 05:00:00    8.6
6  2011-01-20 06:00:00   34.6
7  2011-01-20 07:00:00   98.0
8  2011-01-20 08:00:00  208.0
9  2011-01-20 09:00:00  124.2

In [34]:
evaluation["count"] = evaluation["count"].astype(int)
evaluation["count"]

0        11
1         5
2         6
3         4
4         3
5         8
6        34
7        98
8       208
9       124
10       61
11       60
12       79
13       75
14       81
15       82
16       94
17      191
18      164
19       94
20       66
21       58
22       54
23       22
24       14
25        5
26        3
27        2
28        2
29        5
       ...
6463    242
6464    185
6465    140
6466     82
6467     71
6468     51
6469     12
6470      7
6471      3
6472      2
6473      2
6474     20
6475     79
6476    237
6477    422
6478    216
6479    131
6480    108
6481    132
6482    147
6483    144
6484    144
6485    197
6486    258
6487    285
6488    229
6489    174
6490    121
6491     96
6492     50
Name: count, Length: 6493, dtype: int64

In [0]:
evaluation.to_csv("submissionv20.csv",index=False)