In [ ]:
#Requires installation of gaps, uncomment if required

#conda install gmaps

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
import os
import gmaps

In [3]:
gmaps.configure(api_key=os.environ["GOOGLE_API"])

locations = earthquake_df[['latitude', 'longitude']]<br>
weights = earthquake_df['magnitude']<br>
fig = gmaps.figure()<br>
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))<br>
fig<br>

# Made into Markup

In [4]:
df = pd.read_csv("DataSet.csv")
df.drop(['Unnamed: 0'], axis = 1, inplace=True)
df['random'] = np.random.randint(0,11, len(df))
df.head()

                       names   Price        lat        lon  random
0  Salarpuria Sattva Cadenza   416.5  12.889441  77.640221       2
1  Salarpuria Sattva Cadenza   750.0  12.889441  77.640221       0
2  Salarpuria Sattva Cadenza   733.0  12.889441  77.640221       4
3  Salarpuria Sattva Cadenza   950.0  12.889441  77.640221       8
4              Purva Skydale  1750.0  12.894033  77.662362       0

In [5]:
locations = df[['lat','lon']]
weights = df['Price']

In [6]:
fig = gmaps.figure(center = (12.9716,77.5946), zoom_level = 10)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
df2 = pd.DataFrame()

In [8]:
df2['lat'] = np.random.uniform(12.75,13.3, size=2000)

df2['lon'] = np.random.uniform(77.4, 77.9, size=2000)

df2['random'] = np.random.randint(0,1001, size=2000)

df2.head()

         lat        lon  random
0  12.959646  77.653503     471
1  13.061759  77.556353     605
2  12.924263  77.787715      57
3  13.139253  77.801984     474
4  12.780804  77.718552     366

In [9]:
locations = df2[['lat','lon']]
weights = df2['random']


fig = gmaps.figure(center = (12.9716,77.5946), zoom_level = 10)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
import json
with open('grid.json') as f:
    blr_grid = json.load(f)

In [38]:
blr_grid['features'][6]

{'type': 'Feature',
 'properties': {'number': 6, 'rand': 0.871},
 'geometry': {'type': 'Polygon',
  'coordinates': [[[77.42105916604272, 12.711342329392307],
    [77.42105916604272, 12.71583893121093],
    [77.4256682451762, 12.71583893121093],
    [77.4256682451762, 12.711342329392307],
    [77.42105916604272, 12.711342329392307]]]}}

In [39]:
import random
for num in range(len(blr_grid['features'])):
    blr_grid['features'][num]['properties']['number'] = num
    blr_grid['features'][num]['properties']['rand'] = random.randint(0,1001)/1000

In [49]:
from matplotlib.cm import viridis
from matplotlib.colors import to_hex

colors = []

for feature in blr_grid['features']:
    try:
        color = to_hex(viridis(feature['properties']['rand']), keep_alpha=False)
    except KeyError:
        # no GINI for that country: return default color
        color = (0, 0, 0, 0.3)
    colors.append(color)

In [51]:
fig = gmaps.figure(center = (12.9716,77.5946), zoom_level = 10)
fig.add_layer(gmaps.geojson_layer(blr_grid, fill_color=colors, stroke_color=colors, fill_opacity=0.8))
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
len(blr_grid)

2